@charset "utf-8";

@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:700';
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  padding: 0px;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: #f5f0ff;
  -webkit-font-smoothing: antialiased;
}
.dark {
  background: #24252a;
}
.flex {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
a.bttn {
  color: #ff0072;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
a.bttn:hover {
  color: #fff;
}
a.bttn:focus {
  color: #fff;
}
a.bttn-dark {
  color: #644cad;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
a.bttn-dark:hover {
  color: #fff;
}
a.bttn-dark:focus {
  color: #fff;
}
.bttn {
  font-size: 75%;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 320px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid #ff0072;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.bttn:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #ff0072;
  z-index: -2;
}
.bttn:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.bttn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.bttn-dark {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 300px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid #644cad;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.bttn-dark:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #644cad;
  z-index: -1;
}
.bttn-dark:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.bttn-dark:focus:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

#banner{
	background-color:#220901;
}

#text_banner{
	color:whitesmoke;
	margin-top:40px;
	font-size: 40px;
}

.container2
{
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 300px;
}
.left1,.right1,.left2,.right2
{   
	padding-top: 70px;
	float:left;
	width: 48%;
	text-align: justify;
	padding: 0;
	margin:0;
}
i
{
	color:white;
	
}
.section1
{
	display:table-cell;
	width:50%;
	overflow: auto;
}

.section1 h2
{
	text-decoration: underline;
}
.fot
{
	background: white;
	height: 60px;
	position: relative;
    
	width: 70%;
	border-radius: 50px;
	margin: 0;
	padding: 0;
}
.footer
{ 
	text-align:center;
	margin:0;
	padding: 0;

	font-size:20px;
	color:white;
	height:350px;
    background-color:black;
}





.butoane{
	font-size: 20px;
	
}

.bttn{
	width:60%;
	z-index: 2;
}

#top2{
	z-index:-1;
	background-color:#001232;
}

.bttn{
  width: 45%;
}


@media screen and (max-width: 1300px) {
    .bttn{
      font-size:50%;
    }
}

@media screen and (max-device-width: 1080px) {
    .bttn{
      font-size:100%;
    }
}